html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base__font;
  width: 100%;
  background-color: $base__body__color;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
