$base__font: 'Montserrat', sans-serif;
$second__font: 'Roboto', sans-serif;
$deco__font: 'Kaushan Script';
$base__body__color: #ffffff;
$decor__color: #fed136;
$first__font__color: rgb(51, 51, 51);
$second__font__color: rgb(255, 255, 255);
$descriptions__font__color: #999999;
$social-icon-color: #ffffff;
$second-decor-color: #f38181;
$form__warning_color: red;
$section_services-before-text: 'We work with';
$section_teem-before-text: 'Who we are';
