.footer-copyright {
  width: 312px;
  align-self: center;
}
.footer-copyright__paragraf {
  @include font-settings(0.875rem, 1.2, 400, $first__font__color);
}

.footer-copyright__link {
  color: $second-decor-color;
}
