.footer-copyright {
  width: 312px;
  align-self: center;
}
.footer-copyright__paragraf {
  font-size: 0.875rem;
  color: $first__font__color;
  line-height: 1.2;
}

.footer-copyright__link {
  color: $second-decor-color;
}
