.site-logo {
  align-self: baseline;
  @include font-settings(1.875rem, 1.2, 700, $second__font__color);
  transition-property: all;
  transition-duration: 0.2s;
  &:hover,
  &:focus {
    color: $decor__color;
    transform: scale(1.5);
  }
}
