.page-footer {
  padding-top: 40px;
}
.footer-wrapper {
  border-top: #e5e5e5 solid 1px;
  flex-basis: 1201px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}
