.page-header-title {
  @include font-settings(9.375rem, 0.9, 700, $second__font__color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 120px;
  &__item {
    display: block;
  }
  &__item--decorline {
    @include font-settings(4.5rem, 1.2, 400, $first__font__color);
    font-family: $deco__font;
    text-transform: none;
    margin-bottom: 50px;
  }
}
