.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service-item {
  flex-basis: 383px;
  padding-left: 65px;
  background-repeat: no-repeat;
  &:nth-child(-n + 3) {
    margin-bottom: 100px;
  }

  &__ico {
    background-repeat: no-repeat;
    &--photography_ico {
      background-image: url('../images/svg/servise_ico/alarm-ico.svg');
    }
    &--design_ico {
      background-image: url('../images/svg/servise_ico/graph-ico.svg');
    }
    &--creativity_ico {
      background-image: url('../images/svg/servise_ico/tw-ico.svg');
    }
    &--seo_ico {
      background-image: url('../images/svg/servise_ico/book-ico.svg');
    }
    &--css_ico {
      background-image: url('../images/svg/servise_ico/home-ico.svg');
    }
    &--digital_ico {
      background-image: url('../images/svg/servise_ico/digital-ico.svg');
    }
  }
  &__title {
    @include font-settings(0.875rem, 1.2, 400, $first__font__color);
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__description {
    @include font-settings(0.9375rem, 1.6, 400, $descriptions__font__color);
    font-family: var(--second__font);
  }
}
