.page-section-title__section-teem--mr {
  margin-bottom: 40px;
}

.card-teem-list {
  display: flex;
  flex-direction: row;
}

.card-teem {
  text-align: center;
  flex-basis: 381px;
  &:hover .card-teem__overlay,
  &:focus .card-teem__overlay {
    transform: translate(-10px, -10px);
    overflow: visible;
    opacity: 1;
  }
  &:hover .card-teem__overlay-container,
  &:focus .card-teem__overlay-container {
    transform: translate(-10px, -10px);
  }

  &:not(:last-child) {
    margin-right: 29px;
  }

  &-title {
    @include font-settings(0.875rem, 1.2, 400, $first__font__color);
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &-description {
    @include font-settings(0.9375rem, 1.6, 400, $descriptions__font__color);
    font-family: var(--second__font);
    font-style: italic;
  }
}
