.site-user-interaction {
  display: flex;
  align-self: baseline;
  align-self: baseline;
  &__ico {
    width: 18px;
    height: 18px;
    fill: $social-icon-color;
    transition-property: all;
    transition-duration: 0.2s;
  }
  &__button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
}

.site-user-interaction__button--hover {
  transition-property: all;
  transition-duration: 0.2s;
  &:not(:last-child) {
    margin-right: 35px;
  }

  &:hover .site-user-interaction__ico,
  &:focus .site-user-interaction__ico {
    fill: $decor__color;
    transform: scale(1.5);
  }
}
